.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
a { text-decoration: none;}

@font-face {
	font-family: 'iconfont';
	src: url('../myfont/iconfont.eot');
	src: url('../myfont/iconfont.eot?#iefix') format('embedded-opentype'),
		url('../myfont/iconfont.woff2') format('woff2'),
		url('../myfont/iconfont.woff') format('woff'),
		url('../myfont/iconfont.ttf') format('truetype'),
		url('../myfont/iconfont.svg#iconfont') format('svg');
  }

.iconfont {
font-family: "iconfont" !important;
font-size: 16px;
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}


body {
    min-width: 1226px;
}

.breadcrumbs {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    // color: #616161;
    width: 100%;
    height: 41px;
    .container {
        width: 1226px;
        margin-right: auto;
        margin-left: auto;
        
        a,span {
            color: #757575;
            font-size: 12px;
            margin-left: 0px;
        }
        .sep {
            margin: 0 0.5em;
            color: #b0b0b0;
        }
    }
}
.filter-box {
    padding: 18px 0;
    .filter-list-wrap {
        position: relative;
        border-bottom: 1px solid #ccc;
        .filter-list {
            width: 1032px;
            height: 45px;
            overflow: hidden;
            -webkit-transition: height .3s ease-in;
            transition: height .3s ease-in;
            position: relative;
            padding-left: 70px;
            min-height: 45px;
            margin: 0;
            dt {
                position: absolute;
                left: 0;
                top: 11px;
                width: 72px;
                color: #b0b0b0;
                font-size: 14px;
                
            }
            dd.active {
                color: #ff6700;
            }
            dd {
                width: 172px;
                padding: 12px 0;
                float: left;
                font-size: 14px;
                color: #333;
                margin-left: 0;
                a {
                    font-size: 14px;
                    color: #333;
                    &:hover {
                    color: #ff6700;
                    }
                }
            }
        }
        .file-more {
            position: absolute;
            right: 0;
            top: 10px;
            height: 24px;
            width: 52px;
            font-size: 14px;
            line-height: 24px;
            color: #757575;
            cursor: pointer;
        }
    }
}

.content {
    padding: 20px 0 100px;
    background: #f5f5f5;
    .order-list-box {
        height: 20px;
        height: 20px;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
        zoom: 1;
        .order-list {
            float: left;
            height: 20px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                // width: 59px;
                float: left;
                padding: 0 30px;
                border-left: 1px solid #e0e0e0;
                line-height: 20px;
                float: left;
                // margin-left: 30px;
                a {
                    font-size: 14px;
                    color: #424242;
                }
                &:nth-child(1){
                    border-left: none;
                }
                
            }
            .active a{
                color: #ff6700;
            }
            
        }
        .style-list {
            float: right;
            height: 20px;
            line-height: 20px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                float: left;
                margin-left: 30px;
                a {
                    color: #424242;
                    transition: color .2s;
                    font-size: 14px;
                    vertical-align: middle;
                    .check {
                        display: inline-block;
                        *zoom: 1;
                        *display: inline;
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                        border: 1px solid #e0e0e0;
                        background-color: #fff;
                        vertical-align: -2px;
                        font-size: 16px;
                        line-height: 18px;
                        text-align: center;
                    }
                    &:hover {
                        color: #ff6700;
                    }
                }

            }
        }
    }
    .goods-list-box {
        width: 1226px;
        .goods-list {
            width: 1240px;
            margin: 0;
            list-style-type: none;
            .goods-item {
                position: relative;
                float: left;
                width: 296px;
                height: 383px;
                padding-top: 47px;
                margin-right: 14px;
                margin-bottom: 14px;
                text-align: center;
                background: #fff;
                transition: box-shadow .5s linear;
                // 鼠标移动到这个物品上
                &:hover {
                    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                }
                figure-img {
                    width: 200px;
                    height: 200px;
                    margin: 0 auto 16px;
                    a {
                        width: 200px;
                        height: 200px;
                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
                .title {
                    margin: 0 0 3px;
                    font-size: 14px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .price {
                    margin: 0 0 15px;
                    color: #ff6700;
                }
                .thumbs {
                    width: 100%;
                    height: 36px;
                    overflow: hidden;
                    li {
                        display: inline-block;
                        *zoom: 1;
                        *display: inline;
                        width: 34px;
                        height: 34px;
                        margin: 0 4px;
                        border: 1px solid #e0e0e0;
                        cursor: pointer;
                        transition: border-color .2s linear;
                        img {
                            width: 34px;
                            height: 34px;
                        }
                        &:hover {
                                border-color: #ff6700;
                        }
                    }
                }
                .flags {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                    width: 100%;
                    max-height: 40px;
                    font-size: 12px;
                    text-align: left;
                    overflow: hidden;
                    background-color: #e53935;
                    height: 18px;
                    // padding: 1px 20px;
                    span {
                        color: #fff;
                        margin-left: 20px;

                    }
                }
            }
        }
        .page-nav {
            height: 30px;
            padding: 15px 0;
            text-align: center;
            .numbers {
                display: inline-block;
                *zoom: 1;
                *display: inline;
                width: 48px;
                height: 24px;
                padding: 3px 0;
                margin: 0 7px;
                font-size: 18px;
                font-weight: 200;
                line-height: 24px;
                color: #b0b0b0;
                &:hover {
                    background: #b0b0b0;
                    color: #fff;
                }
            }
        }
    }

    .xm-recommend {
        margin-top: 60px;
        .xm-recommend-title {
            position: relative;
            margin: 0;
            height: 50px;
            font-size: 30px;
            font-weight: 400;
            color: #757575;
            border-top: 1px solid #e0e0e0;
            span {
                position: absolute;
                top: -20px;
                left: 372px;
                height: 40px;
                width: 482px;
                line-height: 40px;
                text-align: center;
                display: block;
                background-color: #f5f5f5;
            }
        }
        .xm-recommend-content {
            height: 320px;
            .myrecommend{
                height: 320px;
                overflow: hidden;
                
            }
            .myrecommend-content{
                height: 320px;

                overflow-y:auto;
                overflow-y:hidden;
                overflow-x:hidden;
            }
            .xm-recommend-wrapper {
                height: 320px;
                width: 2480px;
                margin-left: 0px;
                transition: margin-left 0.5s ease 0s;
                li {
                    margin-bottom: 14px;
                    height: 300px;
                    width: 234px;
                    background-color: #fff;
                    text-align: center;
                    position: relative;
                    margin-right: 14px;
                    margin-bottom: 14px;
                    float: left;
                    dl{ 
                        padding: 0 20px;
                        margin-bottom: 0;
                        dt {
                            padding: 40px 0 15px;
                            height: 145px;
                            a {
                                img {
                                    width: 140px;
                                    height: 140px;
                                }
                            }
                        }
                        .name {
                            a {
                                color: #333;
                            }
                        }
                        .price {
                            margin-bottom: 10px;
                            a {
                                color: #ff6700;
                            }
                        }
                        .tips {
                            position: relative;
                            color: #757575;
                           font-size: 14px;


                            .btn-line-primary {
                                display: inline-block;
                                *zoom: 1;
                                *display: inline;
                                width: 158px;
                                height: 28px;
                                line-height: 28px;
                                transition: all .4s;
                                
                                padding: 0;
                                margin: 0;
                                border: 1px solid #b0b0b0;
                                font-size: 14px;
                                text-align: center;
                                color: #b0b0b0;
                                cursor: pointer;
                                transition: all .4s;
                                
                                position: absolute;
                                left: 37px;
                                top: 0;
                                width: 120px;
                                display: none;

                                &:hover {
                                    display: block;
                                    border-color: #ff6700;
                                    background: #fff;
                                    color: #ff6700;
                                }
                            }
                             // 移动上次显示按钮
                             &:hover .btn-line-primary {
                                display: block;
                                border-color: #ff6700;
                                background: #fff;
                                color: #ff6700;
                            }
                        }
                        dd {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .xm-pagers-wrapper {
                height: 30px;
                width: 100%;
                .xmpagers {
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    .pagers {
                        display: inline-block;
                        *zoom: 1;
                        *display: inline;
                        width: 10px;
                        height: 10px;
                        padding: 10px;
                        margin: 0 2px;
                        cursor: pointer;
                        .dot {
                            display: block;
                            width: 8px;
                            height: 8px;
                            border: 2px solid #f5f5f5;
                            border-radius: 6px;
                            text-align: left;
                            text-indent: -9999em;
                            overflow: hidden;
                            background-color: #b0b0b0;
                            -webkit-transition: all .5s;
                            transition: all .5s;

                            
                        }
                        .pagers-active {
                            border-color: #ff6700;
                            background-color: #f5f5f5;
                            background-color: transparent;
                        }
                    }
                    
                }
            }
        }
    }
}


