.w {
    width: 990px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    position: relative;
}
.login {
    width: 300px;
    height: 60px;
    margin: 10px auto;
    position: relative;

}
.login b {
    width: 110px;
    height: 40px;
    position: absolute;
    font-size: 25px;
    right: 0;
    bottom: 0;
}
.login {
    float: left;
    position: relative;

}
.link-survey {
   float: right;
   vertical-align: bottom;
   position: absolute;
   bottom: 0;
   right: 0;
}
.content-wrapper {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #fff8f0;
    text-align: center;
    color: #999;
}
.content-login-wrap {
    width: 990px;
    height: 475px;
    background-color: #999;
    position: relative;
}
.login-box {
    width: 346px;
    height: 438px;
    background: blue;
    position: absolute;
    right: 0;
    top: 10px;
    /* padding: 20px; */
}
.login-btn{
    width: 100%;
    height: 55px;
}
.login-tal-l {
    width: 173px;
    height: 55px;
    line-height: 55px;

    background: #ccc;
    font-size: 18px;
    color: #000;

    text-align: center;
    float: left;
}
.login-tal-r {
    width: 173px;
    height: 55px;
    line-height: 55px;
    background: #ccc;
    font-size: 18px;
    color: #000;
    text-align: center;
    float: right;
}
.tips-wapper {
    background: #fff8f0;
    color: #999;
    text-align: center;
    width: 100%;
    height: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
.form-login {
    margin-top: 33px;

}
.form-login .input1{
    width: 304px;
    height: 38px;
}